/* class utility */

.bd{
  border: 1px solid black;
}

.pd-50{
  padding: 50px;
}

.pd-60{
  padding-top: 60px;
}

.pd-30{
  padding: 30px;
}

.mg-t{
  margin-top: 30px;
}

.pdt-250{
  padding-top: 250px;
}

.pdt-300{
  padding-top: 300px;
}

.pd-20{
  padding-bottom: 20px;
}

.txt-c{
  text-align: center;
}

.pdt{
  padding-top: 20px;
}

.txt-st{
  text-transform: uppercase;
  font-size: 25px;
}

.white{
  color: white;
}

.grey{
  background-color: lightgrey;
}

.black{
  color: black;
}

.nav{
  height: 80px;
}

.bg-bl{
  background-color: black;
}

.logo, .link_right, .link_centre{
  font-family: sans-serif;
  line-height: 80px;
  text-transform: uppercase;
  font-weight: 600;
}
.logo{
  font-size: 1.5rem;
}
 .link_centre li{
   display: inline-block;
}

.link_right li{
  display: inline-block;
}

.link_centre{
  text-align: right;
}

.link_right{
  padding-left: 20px;
}

.link_centre ul li a{
  text-decoration: none;
  color: black;
  padding: 0 10px;
  font-size: 10px;
}

.link_right ul li a{
   text-decoration: none;
   color: black;
   padding: 0 10px;
   font-size: 10px;
}

.icon{
  border-right: 1px solid black;
}

.sfondo{
  height: 500px;
  background-image: url(../img/938415.jpeg);
  background-size: cover;
  position: relative;
}
 .title h1 {
  margin-bottom: 30px;
  text-align: center;
}

.title p{
  margin-bottom: 30px;
  text-align: center;
}

.title {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shadow{
  height: 500px;
  background-color: rgba(0, 0, 0, 0.3);
}

.title h1{
  font-size: 50px;
}

#mezzi{
  margin-top: 30px;
  text-align: center;
}

#mezzi img{
  height: 350px;
}

.fig1 h3{
  font-size: 25px;
}
.small{
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.fig1 a{
  text-decoration: none;
  color: blue;
}

.oldman{
  height: 500px;
  background-image: url(https://helbiz.com/_nuxt/img/index-banner.1f6fd0a.jpg);
  background-size: cover;
  position: relative;
}

.cell{
  width: 200px;
}

#seconda h3{
  font-size: 30px;
  width: 200px;
  text-align: center;
}

.centrato{
  text-align: center;
}

.blocco{
  transform: translateY(-50%);
}

#seconda{
  margin-top: 30px;
}

.panchine{
  height: 400px;
  background-image: url(https://helbiz.com/_nuxt/img/scooter.f0a0397.jpg);
  background-size: cover;
}

#terza{
  color: white;
  margin-bottom: 30px;
}

.mobility{
  font-size: 55px;
  padding: 30px 30px 30px 30px;
}

.panchine a{
  text-decoration: none;
}

.panchine p{
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.col-dx{
  background-color: #41566a;
  border-right: 10px solid white;
}

#quarta h4,p,a {
  color: white;
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

#quarta h4{
  font-size: 30px;
  font-weight: normal;
}

 #quarta p{
   font-size: 20px;
 }

#quarta a{
   margin-right: 5px;
   padding-bottom: 20px;
}

.tel img{
  height: 190px;
  width: 200px;
  padding-top: 20px;
}

.col-sx{
  height: 350px;
  background-image: url(../img/firenze.jpg);
  background-size: cover;
  border-left: 10px solid white;
}

#quarta{
  margin-bottom: 30px;
}

.collage{
  height: 260px;
  background-image: url(../img/collage.jpg);
  background-size: contain;
  background-repeat: repeat;
  position: relative;
}

.advice{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  height: 100px;
  width: 200px;
  text-align: center;
  padding-top: 25px;
}

.simbol{
  color: black;
  padding: 7px;
}

.txt-n{
  list-style: none;
  line-height: 30px;
}

.up-cas{
  text-transform: uppercase;
  font-size: 15px;
}

.pd-lr a{
  padding: 0 5px;
}

.terms{
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  height: 60px;
}

.apple{
  width: 200px;
}
.google{
  width: 190px;
}
